In [1]:
import pandas as pd

import matplotlib.pylab as plt
import seaborn as sns
sns.set_style('white')

In [3]:
logs = pd.read_csv('../../data/parsed_logs_2019.csv')
people = pd.read_csv('../../data/parsed_people_2019.csv')
vehicles = pd.read_csv('../../data/parsed_vehicles_2019.csv')
units = pd.read_csv('../../data/parsed_responding_units_2019.csv')

In [5]:
vehicles['vehicles_year'].value_counts()

2013                 199
2017                 198
2018                 191
2015                 190
2014                 181
                    ...
VOLV                   1
ITHGCV3                1
2GCEK19V8Y1338279      1
KLITD56627B190609      1
U                      1
Name: vehicles_year, Length: 203, dtype: int64

In [9]:
vehicles

,call_number,vehicles_color,vehicles_year,vehicles_model,vehicles_vin
0,19-15,RED,2005,FORD CO FOCUS.,3FAFP31N35R126626
1,19-22,RED,2011,SUZI SX4,JS2YBS5A38B6301415
2,19-22,GRY,2012,SUBA ST OUTBAC,4S4BRBCC8C3239617
3,19-28,TAN,2007,. JEEP 4D GRAND CHEROKEE,1J8HR58287C634668
4,19-33,RED,2014,VOLK SE JETTA,3VWD17AJ2EM314619
...,...,...,...,...,...
3235,19-16052,GRY,2013,HOND FIT,JHMGESH53DC057133
3236,19-16658,WHI,2016,SE COROLL,2T1LBURHEOGCT246823
3237,19-16055,GRY,2017,AUDI 4D AAG,WAUFSAPCLHNO50363
3238,19-16055,GRY,2017,AUDI 4D AAG,WAUFSAPCLHNO50363
3239,19-16060,WHI,2008,NaN,NaN

In [7]:
logs

,current_date,page_num,call_number,call_time,original_call_reason_action,original_call_taker,call_address,arvd_time,clrd_time,narrative_text,referenced_citation,call_taker,call_reasons,call_actions
0,01/01/2019,1,19-1,0341,Initiated - PARKING CHECK SERVICES RENDERED,PATROL CRAIG A EICHHAMMER,[WIA_249]_NORTH_ST,03:42:00,03:42:17,NaN,NaN,PATROL CRAIG A EICHHAMMER,Initiated - PARKING CHECK,SERVICES RENDERED
1,01/01/2019,1,19-4,0834,Initiated - BUILDING CHECK BUILDING CHECKED/S...,"PATROL DAVID JENNINGS, D",COLD_SPRING_RD,08:34:38,08:35:33,Narrative: checked Narrative: done Narrati...,NaN,"PATROL DAVID JENNINGS, D",Initiated - BUILDING CHECK,BUILDING CHECKED/SECURED
2,01/01/2019,1,19-5,0842,Initiated - BUILDING CHECK BUILDING CHECKED/S...,"PATROL DAVID JENNINGS, D",LONGVIEW_TER,08:43:07,08:43:21,Narrative checked Narrative Checked 0208,NaN,"PATROL DAVID JENNINGS, D",Initiated - BUILDING CHECK,BUILDING CHECKED/SECURED
3,01/01/2019,1,19-6,0846,Initiated - BUILDING CHECK BUILDING CHECKED/S...,"PATROL DAVID JENNINGS, D",FRENTER_AVE,08:46:51,08:47:07,Narrative: checked Narrative: Checked 0159,NaN,"PATROL DAVID JENNINGS, D",Initiated - BUILDING CHECK,BUILDING CHECKED/SECURED
4,01/01/2019,1,19-7,0847,Initiated - BUILDING CHECK BUILDING CHECKED/S...,"PATROL DAVID JENNINGS, D",HARWOOD_ST,08:47:37,08:48:05,Narrative checked Narrative Checked 0201,NaN,"PATROL DAVID JENNINGS, D",Initiated - BUILDING CHECK,BUILDING CHECKED/SECURED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10489,12/31/2019,2371,19-16060,1656,Initiated - MOTOR VEHICLE STOP CITATION ~ WAR...,PATROL KALVIN DZIBDSIAK HANCOCK RD,Unit:,16:56:09,17:03:51,NaN,T20857596,PATROL KALVIN DZIEDZIAK,Initiated - MOTOR VEHICLE STOP,CITATION
10490,12/31/2019,2371,19-16062,Call,NaN,SERGEANT DAVID R LEMIEUX SOUTHWORTH ST,Unit:,17:04:50,17:06:35,Narrative: Checked 0151 Initiated - BUILDING...,NaN,SERGEANT DAVID R LEMIEUX,NaN,NaN
10491,12/31/2019,2371,19-16063,i7il,NaN,SERGEANT DAVID R LEMIEUX NORTH ST,(WIA_243],17:11:31,17:12:47,Narrative checked SERVICES RENDERED 29-1606...,NaN,SERGEANT DAVID R LEMIEUX,NaN,NaN
10492,12/31/2019,2371,19-16065,1729,Phone - ASSIST OTHER AGENCY - wes PATROL DAVI...,NaN,STETSON_RD,22:;23:;36,22:29:55,Narrative: he green shed at the little league...,T20g57o7,NaN,Phone - ASSIST OTHER AGENCY,NaN
10493,12/31/2019,2372,19-16067,2330,Initiated - ROAD CONDITIONS TAKEN/REFERRED TO...,LIEUTENANT MICHAEL J ZIEMBA Jr,[WIA_390]_SIMONDS_RD,23:31:45,23:32:46,"Narrative Temps dropping, roads icing over in...",NaN,PATROLMAN MICHAEL J ZIEMBA Jr,Initiated - ROAD CONDITIONS,TAKEN/REFERRED TO OTHER AGENCY

In [6]:
people

,call_number,operator/owner,vehicles_vin,lastname,firstname,race,sex,stree,city,state,zipcode
0,19-15,operator,3FAFP31N35R126626,MURPHY,RICHARD A JR,U,M,39 LAKEVIEW RD,"NORTON,",MA,02766-1503
1,19-15,owner,3FAFP31N35R126626,MURPHY,ALLEN E,U,M,63 THICKET ST,"ABINGTON,",MA,02351-1026
2,19-22,operator,JS2YBS5A38B6301415,FORREST,ERICA,Ww,F,4 EDMUNDS ST Apt. # A201,"ADAMS,",MA,01220-2249
3,19-22,owner,JS2YBS5A38B6301415,FORREST,ERICA,WwW,F,4 EDMUNDS ST Apt. # A201,"ADAMS,",MA,01220-2249
4,19-22,operator,4S4BRBCC8C3239617,LEBLANC,NATHAN L,W,M,253 NORTH ST,"WILLIAMSTOWN,",MA,01267-2004
...,...,...,...,...,...,...,...,...,...,...,...
5534,19-16658,operator,2T1LBURHEOGCT246823,MALONEY,TRACY,JU,F,64 MORNINGVIEW DR,"PITTSFIELD,",MA,02201-1930
5535,19-16658,owner,2T1LBURHEOGCT246823,NaN,NaN,W,F,NaN,NaN,NaN,NaN
5536,19-16055,owner,WAUFSAPCLHNO50363,KUPERBERG,IRWIN,W,M,320 BEATTIE RD 051255 Race:,"LONDONDERRY,",VT,NaN
5537,19-16055,owner,WAUFSAPCLHNO50363,KUPERBERG,IRWIN,W,M,320 BEATTIE RD 051255 Race:,"LONDONDERRY,",VT,NaN
5538,19-16060,operator,NaN,MALLOY,JAMIE LYNN,U,F,124 MOHAWK FOREST BLVD ST Unit: 31 Arvd-17:00:...,"ADAMS,",MA,01247-4305

In [8]:
units

      call_number unit disp_time enrt_time arvd_time clrd_time
0            19-1   31       NaN       NaN  03:42:00  03:42:17
1            19-4   34       NaN       NaN  08:34:38  08:35:33
2            19-5   34       NaN       NaN  08:43:07  08:43:21
3            19-6   34       NaN       NaN  08:46:51  08:47:07
4            19-7   34       NaN       NaN  08:47:37  08:48:05
...           ...  ...       ...       ...       ...       ...
12596    19-16060   30       NaN       NaN  16:56:09  17:03:51
12597    19-16060   31       NaN       NaN  17:00:24  17:02:45
12598    19-16062   31       NaN       NaN  17:04:50  17:06:35
12599    19-16063   30  17:20:59         1  17:29:44  17:40:39
12600    19-16067  37K       NaN       NaN  23:31:45  23:32:46

[12601 rows x 6 columns]